---
---

@import "{{ site.theme }}";

ul#markdown-toc {
  list-style-type: none;
  float: right;
  border-style: double;
  margin: 10px;
  padding: 10px;
  font-size: small;
  background-color: GhostWhite;
}
ul#markdown-toc ul {
  list-style-type: none;
  padding-left: 10px;
}
